button {
    border: none;
    background-color: rgb(126, 126, 126);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  button:hover {
    background-color: rgb(21, 255, 0);
  }
  
  .equals {
    grid-column: 3 / 5;
    background-color: rgb(126, 126, 126);
  }
  
  .equals:hover {
    background-color: rgb(255, 30, 0);
  }